
@model IEnumerable<MultiPageProject.MyTask.DTOs.TaskDto>
<div>
    <ul class="list-group">
        @foreach (var task in Model) {
            <li class="list-group-item">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-info" onclick="editTask(@task.Id);">编辑</button>
                    <button type="button" class="btn btn-success" onclick="deleteTask(@task.Id);">删除</button>
                </div>

                <div class="media">
                    <a class="media-left" href="#">
                        <i class="fa fa-3x"></i>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">@task.Title</h4>
                        <p class="text-info">@task.AssignedPersonName</p>
                        <span class="text-muted">@task.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
                    </div>
                </div>

            </li>
        }
    </ul>
</div>