@using MultiPageProject.Web.Models.Account
@model EditRolesEditViewModel
@{
    ViewBag.Title = "EditRoles";
}

<h2>[currentUserName]</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        Roles
    </div>

@using(Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Role DisplayName</th>
                <th>IsDefault</th>
                <th>Checked</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RoleStatus) {
                <tr>
                    <td>@item.Role.Id</td>
                    <td>@item.Role.DisplayName</td>
                    <td>@item.Role.IsDefault</td>
                    <td><input type="checkbox" @item.CheckedValue /></td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Save", "EditRoles", null,new { @class = "btn btn-warning" })
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-info" })
}
</div>